# IntelliJ
.idea/
.idea/tasks.xml
.idea/workspace.xml
.idea/libraries

# Maven
target/
reports/
test-output/

# === Operating Systems ===
# == OS X ==
# https://github.com/github/gitignore/blob/master/Global/OSX.gitignore
.DS_Store
.AppleDouble
.LSOverride
# Icon must ends with two \r.
Icon

# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

# == GNU/Linux ==
# https://github.com/github/gitignore/blob/master/Global/Linux.gitignore
*~
!.gitignore
 
# KDE directory preferences
.directory
 
# == Windows ==
# https://github.com/github/gitignore/blob/master/Global/Windows.gitignore
# Windows image file caches
Thumbs.db
ehthumbs.db
 
# Folder config file
Desktop.ini
 
# Recycle Bin used on file shares
$RECYCLE.BIN/
 
# === IDEs and editors ===
 
# Eclipse
# https://github.com/github/gitignore/blob/master/Global/Eclipse.gitignore
*.pydevproject
.project
.classpath
.settings/
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.freemarker-ide.xml
.springBeans
/src/main/resources/rebel.xml